body{
    background-color:#1E293B;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    color:#ffffff;
    background-color:#0F172A;
    height:60px;
    font-size:20px;
    text-align:center;
    font-weight:bold;
    display:flex;
    align-items:center;
    justify-content:center;
    letter-spacing:1px;
    box-shadow:0 2px 10px rgba(0,0,0,0.3);
}

.pageBox{
    display:flex;
    justify-content:center;
    align-items:center;
    height:calc(100vh - 60px);
    gap:80px;
}

.container{
    height:480px;
    width:420px;
    background-color:#334155;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.4);
    padding:40px;
}

h1{
    text-align:center;
    color:#ffffff;
    margin-bottom:60px;
    letter-spacing:2px;
}

.text{
    color:#E2E8F0;
    font-size:14px;
    margin-bottom:5px;
    display:block;
}

.inp{
    height:40px;
    width:100%;
    border-radius:8px;
    margin-bottom:20px;
    background-color:#1E293B;
    border:1px solid #000000;
    color:#E2E8F0;
    padding-left:10px;
}

.inp:focus{
    outline:none;
    box-shadow:0 0 8px #8ba1a5;
}

.click{
    height:40px;
    width:100%;
    border-radius:25px;
    background-color:#8ba1a5;
    border:none;
    color:#0F172A;
    font-weight:bold;
    cursor:pointer;
    transition:0.2s;
}

.click:hover{
    transform:scale(1.03);
    background-color:#718386;
}

.design{
    text-align:center;
}

.design img{
    height:300px;
    width:300px;
    object-fit:contain;
    filter:drop-shadow(0 10px 20px rgba(0,0,0,0.5));
}

h3{
    color:#E2E8F0;
    font-size:42px;
    letter-spacing:2px;
    margin-top:20px;
}

.error{
    color: red;
}