/* ===== GLOBAL ===== */

body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#f1f5f9;
    color:#1e293b;
}

/* ===== SIDEBAR ===== */

.sidebar{
    width:230px;
    height:100vh;
    background:#1e293b;
    position:fixed;
    left:0;
    top:0;
    padding-top:80px;
}

.sidebar a{
    display:block;
    padding:15px 25px;
    text-decoration:none;
    color:#e2e8f0;
    font-size:15px;
}

.sidebar a:hover{
    background:#334155;
}

/* ===== TOP BAR ===== */

.topbar{
    position:fixed;
    left:230px;
    right:0;
    top:0;
    height:70px;
    background:white;
    border-bottom:1px solid #e2e8f0;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 25px;
}

.profile-btn{
    background:#e2e8f0;
    padding:8px 14px;
    border-radius:6px;
    cursor:pointer;
}

.logout-btn{
    background:#ef4444;
    border:none;
    padding:8px 16px;
    color:white;
    border-radius:6px;
    cursor:pointer;
    transition: all 0.3s ease ;
}

.profile-box{
    position:fixed;
    top:75px;
    left:250px;
    background:white;
    padding:20px;
    border-radius:8px;
    width:250px;
    display:none;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
    outline: 1px solid #1e293b;
}

.main{
    margin-left:230px;
    padding:110px 40px;
}

.main-section h1{
    margin-bottom:20px;
}

.dashboard-cards{
    display:flex;
    gap:25px;
}

.card{
    background:white;
    padding:25px;
    border-radius:10px;
    width:220px;
    box-shadow:0 5px 15px rgba(0,0,0,0.05);
}


/* ===== INVENTORY CARDS ===== */

.inventory-cards{
    display:grid;
    grid-template-columns:repeat(5,minmax(220px,1fr));
    gap:25px;
    margin-top:40px;
}

.inv-card{
    background:white;
    padding:25px;
    border-radius:10px;
    width:220px;
    box-shadow:0 5px 15px rgba(0,0,0,0.05);
    transition:all .25s ease;
}

.product-image{
    width:100%;
    aspect-ratio:1 / 1;
    overflow:hidden;
    border-radius:8px;
    margin-bottom:10px;
    background:#f3f3f3;
}

.inv-card:hover{

    transform:translateY(-6px);

    box-shadow:0 15px 35px rgba(0,0,0,0.12);
}

.card h2{
    text-align: center;
    margin:0 0 10px 0;
    color:#2563eb;
    font-size:18px;
}

.card p{
    font-size:26px;
    font-weight:bold;
}


.role-section{
    margin-top:60px;
}

.role-title{
    margin-bottom:20px;
    border-bottom:2px solid #e2e8f0;
    padding-bottom:10px;
}

.role-box{
    background:white;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

.role-box h3{
    margin-top:0;
    color:#2563eb;
}

.logout-btn:hover {
    background-color: red;
    transform: scale(1.05);

}

/* ===== Inventory STYLES ===== */

.inv-role-box{
    background:white;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

.inv-role-box h3{
    margin-top:0;
    color:#2563eb;
}

.inv-control-box {
    background:white;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.05);

    top:10%;
    position:sticky;
    z-index:1000;
}

.inv-control-box h3{
    margin-top:0;
    color:#2563eb;
}

.inv-card form {
    margin-top: 10px;
}

.inv-card button {
    width: 100%;
    padding: 8px;
    background: #ff4d4d;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* Inventory Role Box */

.inv-role-box h3 {
    margin-bottom: 10px;
}

.form-row {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.pid {
    flex: 1.2;
}


.product {
    flex: 2;
}

.type {
    flex: 1.5;
}

.cost {
    flex: 1;
}

.quantity {
    flex: 1;
}

.form-group input {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
}

.form-group label {
    font-size: 13px;
    margin-bottom: 4px;
    color: #444;
}

.inv-role-box button {
    margin-top: 15px;
    padding: 8px 16px;
    border: none;
    background: #0040ff;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
}

.inv-role-box button:hover {
    background: #0042c5;
}

@media (max-width: 700px) {
    .form-row {
        flex-direction: column;
    }
}

/* Inventory Control Box */

.inv-control-box h3 {
    margin-bottom: 15px;
}

.update-row {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.update-group {
    display: flex;
    flex-direction: column;
}

.pid {
    flex: 1.2;
}

.product {
    flex: 2;
}

.type {
    flex: 1.5;
}

.cost {
    flex: 1;
}

.quantity {
    flex: 1;
}

.update-group input {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
}

.update-group label {
    font-size: 13px;
    margin-bottom: 4px;
    color: #444;
}

.inv-control-box button {
    margin-top: 15px;
    padding: 8px 16px;
    border: none;
    background: #0ac600;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.inv-control-box button:hover {
    background: #008f11;
}

@media (max-width: 700px) {
    .update-row {
        flex-direction: column;
    }
}


/* ===== HR Management Styles ===== */

.role-box label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: #333;
}

.role-box input,
.role-box select {
    width: 99%;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 14px;
}

/* Buttons span full width */
.role-box input[type="submit"],
.role-box button {
    grid-column: 1 / -1;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.role-box input[type="submit"] {
    border: none;
    background-color: #007BFF;
    color: #fff;
    margin-bottom: 10px;
    transition: 0.3s;
}

.role-box input[type="submit"]:hover {
    background-color: #0056b3;
}

.role-box button {
    border: 1px solid #007BFF;
    background-color: #fff;
    color: #007BFF;
    transition: 0.3s;
}

.role-box button:hover {
    background-color: #007BFF;
    color: #fff;
}

.role-box button a {
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: center;
}

/* Accounts Table */

.role-box table {
    width: 100%;
    border-collapse: collapse;
    min-width: 800px; 
}

.role-box th,
.role-box td {
    padding: 12px 15px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    color: #333;
}

.role-box th {
    background-color: #f8f8f8;
    font-weight: 600;
    color: #555;
}

.role-box tr:nth-child(even) {
    background-color: #f9f9f9;
}

.role-box tr:hover {
    background-color: #e6f0ff;
}

/* Transaction Styles */
.cart-box {
    background:white;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

.cart-box h3{
    margin-top:0;
    color:#2563eb;
}

.cart-box form {
    margin-top: 10px;
}

.cart-row {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.cart-group {
    display: flex;
    flex-direction: column;
}

.payment-option-group {
    flex: 1.2;
}

.quantity {
    flex: 2;
}

.cart-group input {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    
}

#payment-option{
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
}

.cart-group label {
    font-size: 13px;
    margin-bottom: 4px;
    color: #444;
}

.cart-box button {
    margin-top: 15px;
    padding: 8px 16px;
    border: none;
    background: #0ac600;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

/* Payment Section Styles */

.payment-box {
    background:white;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

.payment-box h3{
    margin-top:0;
    color:#2563eb;
}

.payment-box form {
    margin-top: 10px;
}

.payment-row {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.payment-group {
    display: flex;
    flex-direction: column;
}

.products {
    flex: 1.2;
}

.amount {
    flex: 2;
}

.refnum {
    flex: 2;
}

.payment-group input {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    
}

#products-options{
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
}

.payment-group label {
    font-size: 13px;
    margin-bottom: 4px;
    color: #444;
}

.payment-box button {
    margin-top: 15px;
    padding: 8px 16px;
    border: none;
    background: #0ac600;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .role-box th,
    .role-box td {
        padding: 10px 8px;
        font-size: 13px;
    }
}

@media (max-width: 500px) {
    .role-box {
        grid-template-columns: 1fr;
        padding: 20px;
    }
}


@media(max-width:900px){

    .inventory-cards{
        grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    }
}